.App {
  text-align: center;
}

.App button {
  border: 1px solid blue;
  background-color: yellow;
  font: inherit;
  color: black;
  cursor: pointer;
}

.App button:hover {
  background-color: lightyellow;
  color: black;
}
